# Database Configuration
DB_SERVER=localhost
DB_USER=root
DB_PASS=
DB_NAME=hypernova_ecommerce

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_PORT=587
