/* .wrapper {
    height: 1280px;
    overflow: hidden;
} */


/* navbari */
/* .navbar-nav{
    margin-left: 4rem;
}

.container-fluid a{
    margin-left: 4rem;
}

/* kontenti faqes */

/* .main {
  margin-top: 60px;
}

.products-grid {
  display: grid;
  margin: 0px 3%; */

  /* - In CSS Grid, 1fr means a column will take up the
       remaining space in the grid.
     - If we write 1fr 1fr ... 1fr; 8 times, this will
       divide the grid into 8 columns, each taking up an
       equal amount of the space.
     - repeat(8, 1fr); is a shortcut for repeating "1fr"
       8 times (instead of typing out "1fr" 8 times).
       repeat(...) is a special property that works with
       display: grid; */
  /* grid-template-columns: repeat(8, 1fr); */
/* } */